name: CI Workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16" # Puedes cambiar a la versión que estés usando

      - name: Install dependencies
        run: |
          npm install

      - name: Run Lint
        run: |
          npm run lint

      - name: Run Unit Tests (Jest)
        run: |
          npm run test # Jest ejecutará los tests en tests/unit

      - name: Run End-to-End Tests (Playwright)
        run: |
          npx playwright test tests/e2e # Ejecutamos Playwright solo en tests/e2e

      - name: Build the project
        run: |
          npm run build
